$comic-border: rgb(119, 118, 118) solid 1px;
$comic-pannel-border: black solid 2px;
$comic-font: 'Bangers', cursive;
$body-font: 'Roboto', sans-serif;

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: $body-font; 
}
main {
    .cover{
        width: 45vw;
        height: 130vh;
        margin: 2em auto;
        background-color: black;
        border: $comic-border;
        display: flex;
        flex-direction: column;
        grid-template-rows: 20vh;
        border-top-left-radius: 10px;
        -webkit-box-shadow: 0px 3px 40px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 40px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 40px 2px rgba(0,0,0,0.3);
        .comicTop{
            display: grid;
            grid-template-columns: 12vw auto;
            height: 30vh;
            background: linear-gradient(to right, #295363 0%,#214c6e 5%,#0d1c2a 100%);
            border-top-left-radius: 10px;
            section {
                text-align: center;
            }
            .title{
                grid-column: 2/4;
                color: white;
                font-family: $comic-font;
                color: red;
                img{
                    width: 90%;
                    height: 90%;
                }
            }
            .compLogo{
                margin: .5em;
                height: 20vh;
                width: 10vw;
                .imgLogo{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .compPrice{
                    display: grid;
                    background-color: rgb(68, 68, 68);
                    color: white;
                    margin: 0;
                    .price{
                        grid-column: 1/2;
                        margin: 0;
                    }
                    .date{
                        grid-column: 2/3;
                        font-size: .2em;
                        p{
                            margin:0;
                        }
                    }
                }
            }
        }
        .comicBot{
            background-image: url(https://media.giphy.com/media/xTiTnolgxvZcJwdq4E/giphy.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .centralContent{
                width: 100%;
                height: 60vh;
            }
            .bottomContent{
                display: grid;
                grid-template-columns: repeat(5, 10vw);
                img{
                    margin-top: 2em;
                    width: 100%;
                    grid-column: 1/2;
                    transform: rotate(270deg);
                }
            }
        }

    }
    .projects{
        width: 90vw;
        margin: 2em auto;
        background-color: white;
        border: $comic-border;
        display: flex;
        flex-direction: row;
        grid-template-rows: 20vh;
        -webkit-box-shadow: 0px 3px 40px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 40px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 40px 2px rgba(0,0,0,0.3);
        .leftpg{
            border: $comic-border;
            width: 45vw;
            background: linear-gradient(to left, #aaa 0%,#ddd 5%,#fff 100%);
        }
        .rightpg{
            border: $comic-border;
            width: 45vw;
            background: linear-gradient(to right, #aaa 0%,#ddd 5%,#fff 100%);
        }
        .innerContent{
            margin: 1vw;
            height: 100%;
            border: $comic-border;
            overflow: scroll;
            height: 100vh;
            padding: 0em 1em 1em;
            h2{
                color:red;
                font-family: $comic-font;
                text-align: center;
                font-size: 2em;
                background: linear-gradient(to bottom right, orange, yellow);
                margin: .5em;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                width: 50%;
                border: $comic-pannel-border;
            }
            .projPanels{
                display: flex;
                flex-wrap: wrap;
            }
        }
        .projectcontainer{
            padding: 1em;
        }
        .projectCard{
            border: $comic-pannel-border;
            width: 43%;
            height: 25vh;
            margin: 2%;
            padding: 1%;
            position: relative;
            transition: transform 1s, box-shadow 1s;
            background: white;
            background-size: cover;
            background-position: center;
            color: black;
            a{
                text-decoration: none;
            }
            img{
                width: 100%;  
            }
            p{
                display: inline;
                position: absolute;
                z-index: 5;
                text-align: center;
                background: white;
                padding: .5em;
            }
            span {
                display: block;
                position: absolute;
                width: 90%;
                padding: .2em;
                margin: 0;
                color: white;
                background-color: rgba(0, 0, 0, 0.712);
                z-index: 30;
            }
            
        }
        .projectCard:nth-child(even){
            transform: skewY(-3deg);
            transform-origin: top left;
            p{
                bottom: 2px;
                right: 16px;
            }
        }
        .projectCard:nth-child(odd){
            transform: skewY(3deg);
            transform-origin: top right;
            p{
                bottom: 2px;
                left: 16px;
            }
        }
        .projectCard:hover {
            transform: scale(1.1);
            box-shadow: 2px 20px 50px -23px rgba(133,125,133,1);
            z-index: 10;
        }
        canvas{
            width: 100% !important;
        }
        .button{
            background-color: #214c6e;
            margin: 0 auto;
        }
        .is-success:hover {
            background-color: #3277ac;
        }
        form{
            width:50%;
            margin: auto;
            
        }
        .resumeTop{
            display: flex;
            flex-direction: row;
            h2{
                width: 50%;
            }
        }
    }
    .backcover{
        width: 45vw;
        height: 130vh;
        margin: 2em auto;
        background: linear-gradient(to bottom, #295363 0%,#214c6e 5%,#0d1c2a 50%,#214c6e 95%,#295363 100%);
        border: $comic-border;
        display: flex;
        flex-direction: column;
        grid-template-rows: 20vh;
        border-top-right-radius: 10px;
        -webkit-box-shadow: 0px 3px 40px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 40px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 40px 2px rgba(0,0,0,0.3);
        h2{
            color:red;
            font-family: $comic-font;
            text-align: center;
            font-size: 2.5em;
            background: linear-gradient(to bottom right, orange, yellow);
            margin: .5em auto;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            width: 90%;
            border: $comic-pannel-border;
        }
        .textarea{
            margin: 0 0 1em;
        }
        .button{
            width: 100%;
            margin-bottom: .5em;
        }
        .button:hover{
            background-color: #214c6e;
            color: white;
        }
        .segment{
            margin: 1em;
        }
        .social{
            display: flex;
            a{
                font-size: 2.5em;
                margin: 0 1em;
                width: 25%;
                color: white;
            }

        }
        
    }
     
}


